<div class="container mt-5">
  <h1 class="mb-4">Available Workspaces</h1>

  <!-- Search form for finding workspaces by location -->
  <%= form_with(url: workspaces_path, method: :get, local: true, class: "mb-4") do %>
    <div class="form-group">
      <%= label_tag :location, "Search by location:", class: "form-label" %>
      <%= text_field_tag :location, params[:location], class: "form-control" %>
    </div>
    <div class="form-group">
      <%= submit_tag "Search", class: "btn btn-primary" %>
    </div>
  <% end %>

  <!-- Map container -->
  <div id="map" style="height: 400px;"></div>

  <!-- Row to hold the workspace cards -->
  <div class="row">
    <% @workspaces.each do |workspace| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= image_tag(workspace.image_url, class: "card-img-top") if workspace.image_url.present? %>
          <div class="card-body">
            <h5 class="card-title"><%= workspace.name %></h5>
            <p class="card-text"><%= truncate(workspace.description, length: 100) %></p>
            <%= link_to 'View Details', workspace, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Mapbox script -->
<script>
  document.addEventListener("DOMContentLoaded", function() {

    mapboxgl.accessToken = 'pk.eyJ1IjoiY3Jpc3RpbmFjY2IiLCJhIjoiY2x3dmcxZHdrMHA5aDJscHNjanlpeDNocSJ9.s6UReqk1bEhZ24_JChEGyg'; // Replace this with your actual Mapbox access token

    var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v11',
      center: [51.505, -0.09],
      zoom: 13 /
    });

    <% @workspaces.each do |workspace| %>
      new mapboxgl.Marker()
        .setLngLat([<%= workspace.longitude %>, <%= workspace.latitude %>])
        .setPopup(new mapboxgl.Popup().setHTML("<%= j workspace.name %><br><%= j workspace.address %>"))
        .addTo(map);
    <% end %>
  });
</script>
