<!DOCTYPE html>
<html>
<head>
  <title>Cospace</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <!-- Include Bootstrap CSS for styling and layout -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Include Font Awesome for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Include Application CSS -->
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <!-- Include Mapbox CSS -->
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

  <!-- Include JavaScript via Importmap (Rails 7 feature) -->
  <%= javascript_importmap_tags %>

  <!-- Include Mapbox JS -->
  <%= javascript_include_tag 'https://api.tiles.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js' %>
</head>
<body>
  <!-- Render shared navbar partial -->
  <%= render "shared/navbar" %>

  <!-- Render shared flash messages partial -->
  <%= render "shared/flashes" %>

  <!-- Main content of the page -->
  <%= yield %>

  <!-- Include Bootstrap JS for interactive components -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
